@model Client.Pages.ThirdPartyResponseInput

<div class="alert alert-info mt-3 mb-3">
    <div class="text-justify">
        <div>
            Thermon is committed to business integrity through
            promoting trust to enhance and grow our business relationships.
            Our commitment to integrity is outlined in the
            Thermon Way that is available for you and your colleagues
            to view at <a href="https://ir.thermon.com/corporate-governance">
                ir.thermon.com/corporate-governance
            </a>.
            <br />
            Because our reputation, like yours, is so important,
            we have adopted a third party representative questionnaire
            for our important third parties to complete as part of a
            standardized due diligence process.
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body text-justify pb-1">
        Please complete this questionnaire in its entirety,
        responding to each question or request for information.
        Upon completion, please submit (button below)
        this form along with the following requested documents
        <span style="font-weight: bold;">A-E</span>:

        <div class="mt-2">
            <div class="form-group">
                <label class="text-justify mb-0"
                       style="font-weight: 500">
                    A. Copy of certificate of incorporation, bylaws or equivalent organization document
                </label>
                <br />

                <div class="custom-file form-control form-control-sm col-md-6">
                    <input type="file"
                           class="custom-file-input"
                           asp-for="DocumentA"
                           id="documentA">

                    <label class="custom-file-label"
                           for="documentA">
                        Choose file...
                    </label>

                </div>
            </div>
            <div class="form-group">
                <label class="text-justify mb-0"
                       style="font-weight: 500">
                    B.	Copy of any business brochures or latest annual report
                </label>
                <br />

                <div class="custom-file form-control form-control-sm col-md-6">
                    <input type="file"
                           class="custom-file-input"
                           asp-for="DocumentB"
                           id="documentB">

                    <label class="custom-file-label"
                           for="documentB">
                        Choose file...
                    </label>
                    @*<div class="invalid-feedback">Example invalid custom file feedback</div>*@
                </div>
            </div>

            <div class="form-group">
                <label class="text-justify mb-0"
                       style="font-weight: 500">
                    C.	Copies of most recent audited financial statements
                    and the most recent unaudited and/or interim financial statements
                </label>
                <br />

                <div class="custom-file form-control form-control-sm col-md-6">
                    <input type="file"
                           class="custom-file-input"
                           asp-for="DocumentC"
                           id="documentC">

                    <label class="custom-file-label"
                           for="documentC">
                        Choose file...
                    </label>
                    @*<div class="invalid-feedback">Example invalid custom file feedback</div>*@
                </div>
            </div>

            <div class="form-group">
                <label class="text-justify mb-0"
                       style="font-weight: 500">
                    D. CV or professional biography for all COMPANY Leaders (as defined below)
                </label>
                <br />

                <div class="custom-file form-control form-control-sm col-md-6">
                    <input type="file"
                           class="custom-file-input"
                           asp-for="DocumentD"
                           id="documentD">

                    <label class="custom-file-label"
                           for="documentD">
                        Choose file...
                    </label>
                    @*<div class="invalid-feedback">Example invalid custom file feedback</div>*@
                </div>
            </div>

            <div class="form-group">
                <label class="text-justify mb-0"
                       style="font-weight: 500">
                    E. Copy of Code of Conduct and other related anti-corruption polices or guidelines
                </label>
                <br />

                <div class="custom-file form-control form-control-sm col-md-6">
                    <input type="file"
                           class="custom-file-input"
                           asp-for="DocumentE"
                           id="documentE">

                    <label class="custom-file-label"
                           for="documentE">
                        Choose file...
                    </label>
                    @*<div class="invalid-feedback">Example invalid custom file feedback</div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-info mt-3 mb-3">
    <div class="text-justify"
         style="font-style: italic;">
        Any information provided through this questionnaire and/or originated during our due diligence process
        (“Confidential Information”) shall be treated confidentially.
        We hereby agree to
        (i) keep such Confidential Information under strict confidentiality and
        use it exclusively for the purpose of the due diligence process; and
        (ii) allow access to such
        Confidential Information only to our employees who need to access to the same,
        for the purposes of the due diligence process, or to external counsel contracted specifically for such purpose,
        provided parties shall always be subject to a non-disclosure commitment.
        <br />
        Confidential Information shall not include any information which:
        (i) was known or in our possession before the date of its disclosure;
        (ii) is legitimately in or subsequently comes into the public domain or made available to the
        public in any way other than by breach by us or our  confidentiality obligations hereunder;
        (iii) has been rightfully received without restriction on disclosure or use from a third party,
        whom we reasonably believe to be authorized to make such disclosure;
        (iv) which the disclosure has been authorized in writing by the disclosing party; or
        (v) the disclosure is required by law or by virtue of a judicial, court or administrative order,
        provided that such disclosure is limited to the extent strictly necessary to comply with said order or legal requirement.
    </div>

    <div class="text-center">
        <strong>
            For questions or clarifications, please contact:
            <a href="mailto:legalcompliance@thermon.com">LegalCompliance@thermon.com</a>
        </strong>
    </div>
</div>
