@page "{uid}"
@model Client.Pages.ThirdPartyModel
@{
    ViewData["Title"] = "Third Party Representative Questionnaire";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewData["Title"]
    </title>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet"
          href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1 class="display-4 mt-2 text-center" style="font-size: 3rem;">
            Third Party Representative Questionnaire
        </h1>
        <form method="post"
              enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>
            <input asp-for="Input.UniqueIdentifier"
                   value="@Model.UniqueId"
                   hidden />

            <partial name="Shared/_TprIntro"
                     for="Input" />

            <partial name="Shared/_TprFormCompletion"
                     for="Input" />

            <partial name="Shared/_TprBusiness"
                     for="Input" />

            <partial name="Shared/_TprReference"
                     for="Input" />

            <partial name="Shared/_TprPersonal"
                     for="Input" />

            <partial name="Shared/_TprPotentialConflicts"
                     for="Input" />

            <partial name="Shared/_TprCompliance"
                     for="Input" />

            <partial name="Shared/_TprSubAgent"
                     for="Input" />

            <partial name="Shared/_TprSignatureAndCertification"
                     for="Input" />

            <button type="submit"
                    class="btn btn-primary">
                Submit
            </button>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/bs-custom-file-input.js"></script>
    <script src="~/js/site.js"
            asp-append-version="true"></script>
</body>
</html>
