@page "{id:int}"
@model Web.Pages.Summary.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4 text-center mb-3">
    Due Diligence Summary Form
</h1>
      
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            A. Business Information
        </h4>                                  
        
        <div class="form-group">
            <label>
                A. Type of TPR Representative
            </label>                          
            <p>Answer: @Model.ResponseSummary.A1 </p>
        </div>
    </div>
</div>
