@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Thermon
    </h1>
    
    <p>
       This is a basic survey site handling the invitations and survey responses.
    </p>
</div>
