@model Q2DA

<div class="form-group">
    <label class="mb-0 text-justify" style="font-size: larger;">
        @Model.Ques
    </label>
    <p class="text-justify">
        <span style="font-weight: 400;">Answer: </span>
        <span style="font-style: italic; font-weight: 500;">@Model.Ans</span>
    </p>
</div>