@page "{id:int}"
@model Web.Pages.Responses.SponsorModel
@{
    ViewData["Title"] = "Sponsor";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-header display-4">
            Sponsor Response
        </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Response</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>
                        A. TYPE OF TPR REPRESENTATIVE
                    </th>
                    <td>@Model.SResponse.A1</td>
                </tr>

                <tr>
                    <th colspan="2">
                        B. BUSINESS RELATED INFORMATION
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Product Line Involved
                    </td>
                    <td>@Model.SResponse.B1</td>
                </tr>

                <tr>
                    <td>
                        2.  Region Involved
                    </td>
                    <td>@Model.SResponse.B2</td>
                </tr>

                <tr>
                    <td>
                        3.  Will services provided relate to a Thermon “Greenfield” project?
                    </td>
                    <td>@Model.SResponse.B3</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>